version: 2.1
orbs:
  slack: circleci/slack@3.4.2

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv

jobs:
  build:
    executor: docker-executor
    steps:
      - run: echo "CI Done"

  ensure_env:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            uv venv --python 3.12 /usr/local/share/virtualenvs/tap-jira
            source /usr/local/share/virtualenvs/tap-jira/bin/activate
            uv pip install 'setuptools==56.0.0'
            uv pip install .[dev]
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox /usr/local/share/virtualenvs/tap-jira/dev_env.sh
      - slack/notify-on-failure:
          only_for_branches: master
      - persist_to_workspace:
          root: /
          paths:
            - root/.local/share/uv/python
            - usr/local/share/virtualenvs/tap-jira

  run_pylint:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-jira/bin/activate
            source /usr/local/share/virtualenvs/tap-jira/dev_env.sh
            # BUG https://jira.talendforge.org/browse/TDL-15395
            echo "pylint is skipping the following: $PYLINT_DISABLE_LIST"
            pylint tap_jira -d "$PYLINT_DISABLE_LIST,unsupported-assignment-operation,unsupported-membership-test,unsubscriptable-object,dangerous-default-value,too-many-instance-attributes,too-many-positional-arguments"
      - slack/notify-on-failure:
          only_for_branches: master

  run_unit_tests:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-jira/bin/activate
            source /usr/local/share/virtualenvs/tap-jira/dev_env.sh
            uv pip install pytest coverage parameterized tzdata
            coverage run -m pytest --rootdir=tests/unittests tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            stitch-validate-json tap_jira/schemas/*.json

  run_integration_tests:
    executor: docker-executor
    parallelism: 9
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Run Integration Tests'
          no_output_timeout: 30m
          command: |
            source /usr/local/share/virtualenvs/tap-jira/dev_env.sh
            mkdir /tmp/${CIRCLE_PROJECT_REPONAME}
            export STITCH_CONFIG_DIR=/tmp/${CIRCLE_PROJECT_REPONAME}
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            circleci tests glob "tests/test_*.py" | circleci tests split > ./tests-to-run
            if [ -s ./tests-to-run ]; then
              for test_file in $(cat ./tests-to-run)
              do
                echo $test_file > $STITCH_CONFIG_DIR/tap_test.txt
                run-test --tap=${CIRCLE_PROJECT_REPONAME} $test_file
              done
            fi
      - slack/notify-on-failure:
          only_for_branches: master
      - store_artifacts:
          path: /tmp/tap-jira

workflows:
  version: 2
  commit: &commit_jobs
    jobs:
      - ensure_env:
          context:
            - circleci-user
            - tier-1-tap-user
      - run_pylint:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - run_unit_tests:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - run_integration_tests:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - run_pylint
            - run_unit_tests
            - run_integration_tests
  build_daily:
    <<: *commit_jobs
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
